/*Resting method */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}






/*Resting method */
body {
    background-color: whitesmoke;
}

h1 {
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
}

h2 {
    margin: 20px;
    text-align: center;
    font-size: 20px;
}

.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    background-color: rgb(238, 238, 238);
}

.card img {
    width: 100%;
    height: 170px;
}

.card-image {
    position: relative;
}

.card-image p {
    position: absolute;
}

.date {
    color: white;
    background-color: orangered;
    top: 10px;
    right: 10px;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.photos {
    color: white;
    background-color: orangered;
    bottom: 3px;
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.card-bottom {
    display: flex;
    gap: 5px;
    color: rgb(104, 104, 104);
}

.card-bottom img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.card-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: white;


}

.whole-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

h3 {
    font-size: 28px;
    font-weight: bold;
}

.discription {
    color: orangered;
    font-size: 24px;

}

p {
    color: rgb(104, 104, 104);
    font-size: 18px;
    line-height: 30px;
}